node_modules/**/*
bower_components/**/*
about/**/*
**/bower_components/**/*
*.bak
/npm-debug.log

/bower_components
/about
/node_modules
*.~*
**/*~
glyphicons_free
/ocaml/_build/**/*
/_build/**/*
/lib
*.byte
/ocaml/*.map
/ml.docdir
/gitflowguiscript.sh
/ocamljs
/package-lock.json
